.flightPlanner {
    width: 100%;
}

.card-header {
    font-size: 20px;
    font-weight: bolder;
    color: #3f3047;

    align-items: center;
    border-style: solid;
    border-color: #e2e2e2;
    border-radius: 15px;
    background-color: #eef36a;

}

.card-body {

    border-style: solid;
    border-color: #e2e2e2;
    color: #3f3047;
    background-color: #f6f8ff;
}


#train-table th,
#train-table td {
    display: inline-block;
    width: 20%;
    border-color: #e2e2e2;
    font-weight: bold;
}

#train-add-table th,
#train-table td {
    display: inline-block;
    width: 25%;
    border-color: #e2e2e2;
}

.form-control {
    display: inline-block;
    width: 22%;
    border-style: solid;
    border-color: #e2e2e2;
}

#train-destination-input {
    margin-left: 30px;
}

#train-destination-input {
    margin-left: 30px;
}

#train-start-time-input {
    margin-left: 30px;
}

#train-frequency-input {
    margin-left: 29px;
}

#submit-add-train {
    margin-top: 15px;
    border-radius: 8px;
    background-color: #eef36a;
}